.footcard {
  .footcard-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    h1 {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    .links {
      display: flex;
      flex-direction: column;
      gap: 15px;
      span {
        font-size: 1.2rem;
        color: grey;
      }
    }
  }
}
