.orders {
  margin: 100px 0px;
  .order-container {
    width: 80%;
    margin: auto;
    // border: 1px solid green;
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        text-decoration: none;
        background-color: green;
        color: white;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: 500;
        padding: 10px;
      }
    }
    .order-table {
      table {
        width: 100%;
        tr {
          height: 50px;
          &:nth-child(even) {
            background-color: lightcyan;
          }
          th {
            text-align: left;
          }
          .item {
            width: 50px;
            height: 25px;
            object-fit: cover;
          }
          .delete {
            width: 25px;
            height: 25px;
            object-fit: cover;
            cursor: pointer;
          }
        }
      }
    }
  }
}
