.featured {
  width: 100%;
  background-color: black;
  .feature-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .feature-info {
      color: wheat;
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1 {
        font-size: 3rem;
        font-weight: 600;
        i {
          font-weight: 300;
        }
      }
      .search {
        display: flex;
        width: 90%;
        background-color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0px 0px 5px;
        .search-icon {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            width: 30px;
            height: 30px;
            object-fit: cover;
          }
          input {
            width: 400px;
            height: 30px;
            border: none;
            outline: none;
            font-size: 1.5rem;
            font-weight: 600;
          }
        }
        button {
          background-color: black;
          color: wheat;
          border: none;
          padding: 10px 20px;
          font-size: 2rem;
          cursor: pointer;
          &:hover {
            color: black;
            background-color: wheat;
          }
        }
      }
      .popular-feature {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 1.2rem;
        span {
          border: 1px solid wheat;
          border-radius: 20px;
          padding: 5px 10px;
          cursor: pointer;
          &:first-child {
            border: none;
            cursor: unset;
          }
        }
      }
    }
  }
}
