.market {
  padding: 100px 0px;
  display: flex;
  gap: 20px;
  align-items: center;
  .market-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
  }
}
